@model List<PartModel>
@using Microsoft.AspNetCore.Http;
@using ProMats.Function
@inject IHttpContextAccessor HttpContextAccessor

<table class="table align-items-center table-bordered table-hover table-sm" id="tbl_material">
    <thead class="bg-info text-center align-middle" style="font-size:12pt">
        <tr>
            <th>No</th>
            <th hidden>ID</th>
            <th>Material ID</th>
            <th>Material Name</th>
            <th>Opening Stock</th>@* 
            <th>Incoming</th> *@
            <th>Total Requirement</th>
            <th>Shortage Qty</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="text-center align-middle" style="font-size:12pt">
        @{
            int i = 1; // Inisialisasi counter untuk penomoran
        }

        @foreach (var mat in Model)
        {
            <tr>
                <td class="text-center align-middle">@i</td>
                <td class="text-center align-middle" hidden>@mat.id_mtl</td>
                <td class="text-center align-middle">@mat.material_id</td>
                <td class="text-center align-middle">@mat.material_name</td>
                <td class="text-center align-middle">@mat.opening_stock Kg</td>@* 
                <td class="text-center align-middle">@mat.incoming Kg</td> *@
                <td class="text-center align-middle">@mat.total_req Kg</td>
                <td class="text-center align-middle">
                    <span style="width:50%" class="badge @(mat.shortage_qty < 0 ? "badge-danger" : "badge-success")">
                        @mat.shortage_qty Kg
                    </span>
                </td>
                <td class="text-center align-middle">
@*                     <button onclick="btn_editmaterial('@mat.id_mtl','@mat.material_id','@mat.material_name','@mat.opening_stock','@mat.incoming')" class="btn btn-sm btn-warning"><i class='far fa-edit'></i></button>
 *@                    <button onclick="btn_del('@mat.id_mtl','@mat.material_id')" class="btn btn-sm btn-danger"><i class='far fa-trash-alt'></i></button>
                </td>
            </tr>
            i++; // Increment counter
        }

    </tbody>
</table>
