@model List<POAccModel>
@using Microsoft.AspNetCore.Http;
@using ProMats.Function
@inject IHttpContextAccessor HttpContextAccessor


<table class="table align-items-center table-bordered table-hover table-sm" id="tbl_acc">
    <thead class="bg-info text-center align-middle" style="font-size:12pt">
        <tr>
            <th class="text-center align-middle" hidden>Id Acc</th>
            <th class="text-center align-middle" hidden>PO ID</th>
@*             <th class="text-center align-middle" style="width:5%">No</th> *@
            <th class="text-center align-middle">PO ID</th>
            <th class="text-center align-middle" style="width:10%">PO Name</th>
            <th class="text-center align-middle">Qty</th>
            <th class="text-center align-middle">Shot</th>
            <th class="text-center align-middle">Part</th>
            <th class="text-center align-middle">Runner</th>
            <th class="text-center align-middle">Date</th>
            <th class="text-center align-middle">Request By</th>
            <th class="text-center align-middle">Status</th>
            <th class="text-center align-middle" style="width:10%">Action</th>
        </tr>
    </thead>
    <tbody class="text-center align-middle" style="font-size:12pt">
        @{
            int i = 1; // Inisialisasi counter untuk penomoran
        }

        @foreach (var mat in Model)
        {
            <tr>
                <td class="text-center align-middle" hidden>@mat.id_acc</td>
                <td class="text-center align-middle" hidden>@mat.po_id</td>
@*                 <td class="text-center align-middle" style="width:5%">@i</td> *@
                <td class="text-center align-middle" style="width:10%">
                    <button class="btn btn-sm btn-secondary"
                            type="button"
                            onclick="window.open('../File_Order/@mat.file_order', '_blank')">
                        @mat.part_code
                    </button>
                </td>
                <td class="text-center align-middle" style="width:15%">@mat.part_name</td>
                <td class="text-center align-middle" style="width:5%">@mat.qty</td>
                <td class="text-center align-middle" style="width:10%">@mat.shot Kg</td>
                <td class="text-center align-middle" style="width:10%">@mat.part Kg</td>
                <td class="text-center align-middle" style="width:10%">@mat.runner Kg</td>
                @{
                    DateTime date;
                    string[] formats = { "yyyy-MM-dd", "dd/MM/yyyy", "MM/dd/yyyy" }; // Add formats as needed
                    if (DateTime.TryParseExact(mat.date, formats, null, System.Globalization.DateTimeStyles.None, out date))
                    {
                        <td class="text-center align-middle">@date.ToString("dd MMM yyyy")</td>
                    }
                    else
                    {
                        <td class="text-center align-middle">Invalid Date</td>
                    }
                }

                <td class="text-center align-middle" style="width:10%">@mat.request_by</td>
                <td class="text-center align-middle" style="width:10%">
                    <span class="badge @(
        mat.status == "CLOSE" ? "bg-success" :
        mat.status == "IN-PROGRESS" ? "bg-warning" :
        mat.status == "OPEN" ? "bg-secondary" :
        "bg-light text-dark"
    )">
                        @mat.status
                    </span>
                </td>
                <td class="text-center align-middle" >
                    @if (mat.status == "IN-PROGRESS")
                    {
                        <button onclick="btn_delivery('@mat.id_acc','@mat.po_id','@mat.part_code', '@mat.part_name','@mat.qty')" class="btn btn-sm btn-success" style="width:30%"><i class="fas fa-shipping-fast"></i></button>
                    }
                    else
                    {
                        <a href="#" class="btn btn-sm btn-info" style="width:30%"><i class='fas fa-info-circle'></i></a>
                    }
                </td>
            </tr>
            i++; // Increment counter
        }


    </tbody>
</table>




